@media screen and (max-width: 1024px) {

    .price h1 span {
        font-size: 2em;
    }

    .subscriptions {
        grid-template-columns: repeat(3, 15rem);
    }

    .subscription {
        padding: 1rem 1.5rem;
    }

    .description li {
        padding: 1rem;

        font-size: .8em;
    }

    .professional {
        padding-top: 2.6rem;
    }

    .link {
        letter-spacing: .1rem;
    }

    .learn-more {
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px) {

    .pricing-toggle {
        width: 80%;
    }
    
    #switch {
        width: 3rem;
        height: 1.5rem;
    }
    
    #switch::before {
        width: 1.1rem;
        height: 1.1rem;
        top: 3px;
        right: 4px;
    }
    
    #switch:checked::before {
        right: 55%;
    }
    
    .subscriptions {
        grid-template-columns: 18rem;
        row-gap: 3rem;
    
        box-shadow: none;

        font-size: 10px;
    }

    .subscription {
        box-shadow: 0 0 50px 0 var(--Light-Grayish-Blue);
    }

    .professional {
        height: 100%;
        padding-top: 1.5rem;

        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .attribution {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 375px) {
 
    .subscriptions {
        grid-template-columns: 20rem;
    }

}